<app-main-nav></app-main-nav>

<div class="review">


    <form [formGroup]="reviewForm" class="form-card">
      <h3 class="start">Review The Places</h3>
      <div class="label">*Name : <input type="text" formControlName="reviewName" class="form-inputs">
      &nbsp;<p *ngIf="reviewForm.get('reviewName')!.touched && reviewForm.get('reviewName')!.invalid " class="red">Invalid Name</p></div>
      
      <div class="label">*Email : <input type="email" formControlName="reviewEmail" class="form-inputs">
      &nbsp;<p *ngIf="reviewForm.get('reviewEmail')!.invalid && reviewForm.get('reviewEmail')!.touched" class="red">Not a Valid Email</p></div>
      
      <div class="label">*Country : <input type="text" formControlName="reviewCountry" class="form-inputs">
      &nbsp;<p *ngIf="reviewForm.get('reviewCountry')!.touched && reviewForm.get('reviewCountry')!.invalid " class="red">Invalid Country</p></div>
      
      <div class="label">*Review : <input type="text" formControlName="reviewText" class="form-inputs">
      &nbsp;<p *ngIf="reviewForm.get('reviewText')!.touched && reviewForm.get('reviewText')!.invalid " class="red">Invalid Review</p></div>
        
      <div><button (click)="submitReview()" class="btnSubmitReview">Submit</button></div>
    </form>

    <div class="review-list">
      <h4>Reviews:</h4>
      <br>
      <div *ngFor="let review of allReviews; let index = index">
        <div class="arrangement">
          <div class="review-card">
            <div>
              <h4>{{review.reviewName}}</h4>
              <h6>{{review.reviewEmail}}</h6>
              <h6>{{review.reviewCountry}}</h6>
              <h5>{{review.reviewText}}</h5>
            </div>
          </div>
          <div class="deleteSection">
            <button class="btnDeleteReview" (click)="deleteReview(review._id,index)">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

</div>