<nav class="navbar navbar-light cus-nav">
  <div class="container">
    <a class="navbar-brand" href="/home">
      <img src="../../../assets/logo_white.png" alt="" class="logo" >
    </a>

    <div >
      <button class="nav-toggle" (click)="toggleNav()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
    </div>
    <div class="links-section">
      <button (click)="lookup()" class="button btn-create">Trip ID Lookup</button>
      <button (click)="create()" class="button btn-create">Create A Trip</button>
      <button (click)="review()" class="button btn-review"> Write A Review</button>
      <button class="nav-link"  class="button" (click)="logout()">Logout</button>
      <img  class="profile-image"  (click)="openPrifile()" src="https://avatars.dicebear.com/api/initials/{{name}}.svg">
    </div>

    <div *ngIf="navToggle==true" class="links-section-mobile">

      <div>
        <button (click)="lookup()" class="button btn-create">Trip ID Lookup</button>
      </div>
      <div>
      <button (click)="create()" class="button btn-create">Create A Trip</button>
    </div>
    <div>
      <button (click)="review()" class="button btn-review">Write A Review</button>
    </div>
    <div>
      <button class="nav-link"  class="button" (click)="logout()">Logout</button>
    </div>
    <div>
      <img  class="profile-image"  (click)="openPrifile()" src="https://avatars.dicebear.com/api/initials/{{name}}.svg">
    </div>
  </div>
  </div>


</nav>
