
.cus-nav{
  background-color:var(--bar);
}

.navbar-brand{
  margin-left:30px;
}

.logo{
  height: 50px;
  width: auto;
}

.links-section{
  display: inline;
  display: flex;
  margin-inline:50px;
  flex-direction: row;
  justify-content: space-between;
  gap:40px;
}

.profile-image{
  border : 1px black solid;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.profile-image:hover{
  opacity: 0.9;
  cursor: pointer;

}

.button{
  padding-top:5px;
  padding-bottom: 5px;
  padding-inline:10px;
  border-radius: 5px;
  height:40px;
  margin-top:auto;
  margin-bottom: auto;
  font-weight:600;
  border:none;
}

.button:hover{
  background-color: var(--GreenMono);
  color:white;
}



.btn-profile{
  border: var(--GreenMono) 2px solid;
  font-weight: 600;

}

.btn-profile:hover{
  background-color: var(--GreenMono) ;
  color:white;

}

.nav-toggle{
  display: none;
}



.links-section-mobile{
  display:none;
}


@media only screen and (max-width: 768px) {

.nav-toggle{
  display: block;
  border: 0px;
  padding:5px 7px;
  border-radius: 5px;
}

.links-section-mobile{
  display:block;
  display: flex;
  position: absolute;
  z-index: 1000;
  top:70px;
  right:0;
  flex-direction: column;
  padding: 30px 40px;
  background-color:#181515;

  width:100%;

  justify-content: start;
  gap:30px;
  align-items: center;
}

.links-section{
  display: none;
}

.button{
  width: 150px;
}



}

