<app-main-nav></app-main-nav>


<form>



<div class="header block-style">
  <div class="form-group">
    Trip Location :
    <input type="text" class="form-control" name="tripLocation" [(ngModel)]="tripLocationInput" >
  </div><br>
  <div class="form-group">
    Trip Name :
    <input type="text" class="form-control" name="tripName" [(ngModel)]="tripNameInput" >
  </div>
</div>

<div class="atendees block-style">
  <h3>Atendees</h3>
  <hr>
  <div class="in-row">
    <div *ngFor="let atend of atendees;let index = index;" class="ind-at">
      <button class="delete right" (click)="removeExistingAtt(index)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
      </svg>
    </button>

        Name :
        <div class="form-group">
          <input type="text" class="form-control" name="attendName{{index}}"  [(ngModel)]="attName[index]" >
        </div>


        Email :
          <div class="form-group">
            <input type="text" class="form-control" name="attendEmail{{index}}"  [(ngModel)]="attEmail[index]" >
          </div>


        Phone :
          <div class="form-group">
            <input type="text" class="form-control" name="attendPhone{{index}}"  [(ngModel)]="attPhone[index]"  >
          </div>
    </div>
    </div>

    <div *ngFor="let i of addedatendees;let index = index;" class="added-at">

      <button class="delete right" (click)="removeAddedAtt(index)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
          <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
        </svg>
      </button>
      <h6>Just Added</h6>
        Name: {{i.name}}<br>
        Email: {{i.email}}<br>
        Phone: {{i.phone}}<br>
    </div>

    <hr>

    <button class="saveBtn" (click)="toggleAddAtendees()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg></button>

    <div *ngIf="addAtendeesToggle==true" class="added-at addattForm">
        Name :
          <div class="form-group">
            <input type="text" class="form-control" name="addattendName"  [(ngModel)]="addattName" >
          </div>
        Email :
          <div class="form-group">
            <input type="text" class="form-control" name="addattendEmail"  [(ngModel)]="addattEmail" >
          </div>
        Phone :
          <div class="form-group">
            <input type="text" class="form-control" name="addattendPhone"  [(ngModel)]="addattPhone"  >
          </div>

      <div class="btn-group">
        <button class="disBtn" (click)="discardAtt()" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2-fill" viewBox="0 0 16 16">
            <path d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
          </svg>
        </button>
        <button class="saveBtn" (click)="addAttendees()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>
        </button>
      </div>
    </div>
</div>



<div class="days-section block-style">
  <h3>Itinerary </h3>
  <hr>
  <div *ngFor="let day of days; let dayindex = index; " class="day">
    <button class="warning-btn deleteDay"  (click)="togglWarning(dayindex)">Delete</button>
    <h4> Day {{days.indexOf(day)+1}} </h4>
    <div *ngIf="warningToggle[dayindex]==true" class="warning-card">
      <h5>You are about to delete a Day. You cannot restore this later.</h5>
      <h6> Press delete to delete and cancel to go back. </h6>
      <div class="pairBtns">
        <div>
        <button class="closeAction" (click)="closeWarning(dayindex)"> cancel</button>
       </div>
       <div>
        <button class="doAction" (click)="deleteDay(dayindex)"> delete</button>
        </div>
      </div>
    </div>

    <div class="form-group">
      Date : <input type="date" class="form-control" name="dayDate{{dayindex}}"  [(ngModel)]="dayDate[dayindex]">
    </div>
    <br>

    <div class="form-group">
      Notes : <textarea rows="3" class="form-control" style="padding:10px 10px; border:none; background-color: #ffff78;" name="dayNotes{{dayindex}}"  [(ngModel)]="dayNotes[dayindex]"></textarea>
    </div>
    <br>


     <h6> Add a Location : </h6>
        <div class="form-group in-row">
          <input name="dayLocation{{dayindex}}"
          ngx-google-places-autocomplete
              [options]="options"
              #placesRef="ngx-places"
              (onAddressChange)="handleAddressChange($event,dayindex)"
          class="form-control w-70" type="text" [(ngModel)]="dayLocation[dayindex]" >
          <button (click)="addLocation(dayindex) " class="addLoc">Add</button>
        </div>
        <br>
        Added Locations :
        <div class="location-tags">
          <div  *ngFor="let i of allDayLocations[dayindex];let locationindex = index;">
            <div class="tag-box">{{i}}


              <svg  (click)="removeLocation(i,locationindex,dayindex)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>

            </div>

          </div>
        </div>



 <div class="to-dos">
  <h5>ToDo : </h5>

  <div class="toDoCard" *ngFor="let i of allDaytoDo[dayindex];let todoindex = index">


      <input type="text" class="taskInput" (change)="toDoTaskEdited(todoindex,dayindex)" name="day{{dayindex}}toDoTask{{todoindex}}" [(ngModel)]="dayTodoTask[dayindex][todoindex]">
      <input type="checkbox" class="statusInput" (change)="toDoTaskEdited(todoindex,dayindex)" name="day{{dayindex}}toDoStatus{{todoindex}}" [(ngModel)]="dayTodoStatus[dayindex][todoindex]">
      <button (click)="removeExistingtoDo(dayindex,todoindex)"> remove</button>
  </div>




  <button (click)="toggleToDo(dayindex)" class="add-toDo"> Add</button><br>

  <div *ngIf="toDoToggle[dayindex]==true" class="toDo-add-inputs">

    <input type="text" class="taskInput"  name="addtoDoTask{{dayindex}}" [(ngModel)]="addtoDoTask[dayindex]">
    <input type="checkbox" class="statusInput"  name="addtoDoStatus{{dayindex}}" [(ngModel)]="addtoDoStatus[dayindex]">
    <br>
    <div class="pairBtns cus-btns">
      <div>
        <button class="closeAction" (click)="discardtoDo(dayindex)" >Discard</button>
      </div>
      <div>
        <button class="doAction" (click)="addtoDo(dayindex)">Add</button>
      </div>
    </div>
  </div>

</div>

   </div>


   <button class="addDay" (click)="toggleAddDay()">Add Day</button>

    <div  *ngIf="addDayToggle==true" class="addDayForm">

        Date :
          <div class="form-group">
            <input type="date" class="form-control" name="addDate"   [(ngModel)]="addDate" >
          </div>

        Notes :
          <div class="form-group">
            <textarea type="text"  class="form-control" name="addNotes" style="padding:10px 10px; border:none; background-color: #ffff78;"   [(ngModel)]="addNotes" ></textarea>
          </div>

        Locations :
          <div class="form-group">
            <input type="text"  name="addNewDateLocation"  [(ngModel)]="addNewDateLocation" >
            <button class="addLoc" style="margin-left: 10px;" (click)="addLocationInAddDay()">Add</button>
          </div>


        Added Locations :
          <div  class="location-tags" *ngFor="let loc of locationArrayInNewDate;let index = index" >
            <div class="tag-box">
              {{loc}}
              <svg  (click)="removeLocationInNewDay(index)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </div>

          </div>

        <br>
         ToDo :
          <div>
            <input type="text" class="taskInput"  name="addTaskInNewDay" [(ngModel)]="addTaskInNewDay">
            <input type="checkbox" class="statusInput"  name="addStatusInNewDay" [(ngModel)]="addStatusInNewDay">
            <br>
            <button (click)="addtoDoInNewDay()">Add</button>

          </div>


        Added ToDos :
          <div class="toDoCard" *ngFor="let i of toDoAddedInNewDay;let todoindex = index">
            <input type="text" class="taskInput" (change)="toDoTaskEditedInNewDay(todoindex)" name="toDoTaskAddedInNewDay{{todoindex}}" [(ngModel)]="toDoTaskAddedInNewDay[todoindex]">
            <input type="checkbox" class="statusInput" (change)="toDoTaskEditedInNewDay(todoindex)" name="todoStatusAddedInNewDay{{todoindex}}" [(ngModel)]="todoStatusAddedInNewDay[todoindex]">
            <button (click)="removetoDoInNewDay(todoindex)"> remove</button>
          </div>



          <br>

      <div class="pairBtns cus-btns">
        <div>
          <button class="closeAction white" (click)="discardDay()" >Discard the Day</button>
        </div>
        <div>
          <button class="doAction white" (click)="addDay()">Add the Day</button>
        </div>
      </div>
    </div>
</div>
  <div class="save-container">
    <button class="save" (click)="saveTrip()" >Save</button>
  </div>
</form>
