<app-main-nav></app-main-nav>


<form>



<div class="header block-style">
  <div class="form-group">
    Trip Location :
    <input type="text" class="form-control" name="tripLocation" [(ngModel)]="tripLocationInput" >
  </div><br>
  <div class="form-group">
    Trip Name :
    <input type="text" class="form-control" name="tripName" [(ngModel)]="tripNameInput" >
  </div>
</div>

<div class="atendees block-style">
  <h3>Atendees</h3>
  <hr>
  <div class="in-row">
    <div *ngFor="let atend of atendees;let index = index;" class="ind-at">
      <button class="delete right" (click)="removeExistingAtt(index)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x rmv-attendee" viewBox="0 0 16 16">
          <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
          <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
        </svg>
    </button>

        Name :
        <div class="form-group">
          <input type="text" class="form-control" name="attendName{{index}}"  [(ngModel)]="attName[index]" >
        </div>


        Email :
          <div class="form-group">
            <input type="text" class="form-control" name="attendEmail{{index}}"  [(ngModel)]="attEmail[index]" >
          </div>


        Phone :
          <div class="form-group">
            <input type="text" class="form-control" name="attendPhone{{index}}"  [(ngModel)]="attPhone[index]"  >
          </div>
    </div>
    </div>

    <div *ngFor="let i of addedatendees;let index = index;" class="added-at">

      <button class="delete right" (click)="removeAddedAtt(index)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x rmv-attendee" viewBox="0 0 16 16">
          <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
          <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
        </svg>
      </button>
      <h6>Just Added</h6>
        Name: {{i.name}}<br>
        Email: {{i.email}}<br>
        Phone: {{i.phone}}<br>
    </div>

    <hr>

    <button (click)="toggleAddAtendees()">Add attendee</button>

    <div *ngIf="addAtendeesToggle==true" class="added-at addattForm">
        Name :
          <div class="form-group">
            <input type="text" class="form-control" name="addattendName"  [(ngModel)]="addattName" >
          </div>
        Email :
          <div class="form-group">
            <input type="text" class="form-control" name="addattendEmail"  [(ngModel)]="addattEmail" >
          </div>
        Phone :
          <div class="form-group">
            <input type="text" class="form-control" name="addattendPhone"  [(ngModel)]="addattPhone"  >
          </div>

      <div class="btn-group">
        <button (click)="discardAtt()" >Discard
        </button>
        <button (click)="addAttendees()">
          Add
        </button>
      </div>
    </div>
</div>



<div class="days-section block-style">
  <h3>Itinerary </h3>
  <hr>
  <div *ngFor="let day of days; let dayindex = index; " class="day">
    <button class="warning-btn deleteDay"  (click)="togglWarning(dayindex)">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash rmv-task" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg>
    </button>
    <h4> Day {{days.indexOf(day)+1}} </h4>
    <div *ngIf="warningToggle[dayindex]==true" class="warning-card">
      <h5>You are about to delete a Day. You cannot restore this later.</h5>
      <h6> Press delete to delete or cancel to go back. </h6>
      <div class="pairBtns">
        <div>
        <button (click)="closeWarning(dayindex)"> Cancel</button>
       </div>
       <div>
        <button (click)="deleteDay(dayindex)"> Delete</button>
        </div>
      </div>
    </div>

    <div class="form-group">
      Date : <input type="date" class="form-control" name="dayDate{{dayindex}}"  [(ngModel)]="dayDate[dayindex]">
    </div>
    <br>

    <div class="form-group">
      Notes : <textarea rows="3" class="form-control" style="padding:10px 10px; border:none;" name="dayNotes{{dayindex}}"  [(ngModel)]="dayNotes[dayindex]"></textarea>
    </div>
    <br>


     <h6> Add a Location : </h6>
        <div class="form-group in-row">
          <input name="dayLocation{{dayindex}}"
          ngx-google-places-autocomplete
              [options]="options"
              #placesRef="ngx-places"
              (onAddressChange)="handleAddressChange($event,dayindex)"
          class="form-control w-70" type="text" [(ngModel)]="dayLocation[dayindex]" >
          <button (click)="addLocation(dayindex) ">Add</button>
        </div>
        <br>
        Added Locations :
        <div class="location-tags">
          <div  *ngFor="let i of allDayLocations[dayindex];let locationindex = index;">
            <div class="tag-box">{{i}}


              <svg  (click)="removeLocation(i,locationindex,dayindex)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle rmv-loc" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>

            </div>

          </div>
        </div>



 <div class="to-dos">
  <h5>To Dos : </h5>

  <div class="toDoCard" *ngFor="let i of allDaytoDo[dayindex];let todoindex = index">
    <div class="in-row">Task:</div>
<div class="in-row">
      <input class="form-control" type="text" class="taskInput" (change)="toDoTaskEdited(todoindex,dayindex)" name="day{{dayindex}}toDoTask{{todoindex}}" [(ngModel)]="dayTodoTask[dayindex][todoindex]">
      <input class="form-control" type="checkbox" class="statusInput" (change)="toDoTaskEdited(todoindex,dayindex)" name="day{{dayindex}}toDoStatus{{todoindex}}" [(ngModel)]="dayTodoStatus[dayindex][todoindex]">
      <button class="deleteDay" (click)="removeExistingtoDo(dayindex,todoindex)">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash rmv-task" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
      </button>
    </div>
  </div>




  <button (click)="toggleToDo(dayindex)"> Add</button><br>

  <div *ngIf="toDoToggle[dayindex]==true" class="toDo-add-inputs">
    <div class="in-row">Task:</div>
    <div class="in-row">
    <input type="text" class="taskInput"  name="addtoDoTask{{dayindex}}" [(ngModel)]="addtoDoTask[dayindex]">
    <input type="checkbox" class="statusInput"  name="addtoDoStatus{{dayindex}}" [(ngModel)]="addtoDoStatus[dayindex]">
  </div>
    <br>
    <div class="pairBtns cus-btns">
      <div>
        <button (click)="discardtoDo(dayindex)" >Discard</button>
      </div>
      <div>
        <button (click)="addtoDo(dayindex)">Add</button>
      </div>
    </div>
  </div>

</div>

   </div>


   <button (click)="toggleAddDay()">Add Day</button>

    <div  *ngIf="addDayToggle==true" class="addDayForm">

        Date :
          <div class="form-group">
            <input type="date" class="form-control" name="addDate"   [(ngModel)]="addDate" >
          </div>

        Notes :
          <div class="form-group">
            <textarea type="text"  class="form-control" name="addNotes" style="padding:10px 10px; border:none;"   [(ngModel)]="addNotes" ></textarea>
          </div>

        Locations :
          <div class="form-group">
            <input type="text"  name="addNewDateLocation"  [(ngModel)]="addNewDateLocation" >
            <button style="margin-left: 10px;" (click)="addLocationInAddDay()">Add</button>
          </div>


        Added Locations :
          <div  class="location-tags" *ngFor="let loc of locationArrayInNewDate;let index = index" >
            <div class="tag-box">
              {{loc}}
              <svg  (click)="removeLocationInNewDay(index)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle rmv-loc" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </div>

          </div>

        <br>
         ToDo :
          <div class="in-row">
            Task:
            <input type="text" class="taskInput"  name="addTaskInNewDay" [(ngModel)]="addTaskInNewDay">
            <input type="checkbox" class="statusInput"  name="addStatusInNewDay" [(ngModel)]="addStatusInNewDay">
            <br>
            <button (click)="addtoDoInNewDay()">Add</button>

          </div>


        Added ToDos :
          <div class="toDoCard" *ngFor="let i of toDoAddedInNewDay;let todoindex = index">
            <input type="text" class="taskInput" (change)="toDoTaskEditedInNewDay(todoindex)" name="toDoTaskAddedInNewDay{{todoindex}}" [(ngModel)]="toDoTaskAddedInNewDay[todoindex]">
            <input type="checkbox" class="statusInput" (change)="toDoTaskEditedInNewDay(todoindex)" name="todoStatusAddedInNewDay{{todoindex}}" [(ngModel)]="todoStatusAddedInNewDay[todoindex]">
            <button class="deleteDay" (click)="removetoDoInNewDay(todoindex)">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash rmv-task" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
          </div>



          <br>

      <div class="pairBtns cus-btns">
        <div>
          <button (click)="discardDay()" >Discard the Day</button>
        </div>
        <div>
          <button (click)="addDay()">Add the Day</button>
        </div>
      </div>
    </div>
</div>
  <div class="save-container">
    <button class="save" (click)="saveTrip()" >Save</button>
  </div>
</form>
